#sidebar nav a {
  font-size: 1.3em;
  /* text-transform: none; */
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

#intro p {
  font-size: 2.25em;
  margin-bottom: 1em;
}

.spotlights > section:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.1);
}

#footer p {
  margin-bottom: 1em;
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.spotlights > section {
  display: flex;
}

.spotlights > section > .content {
  width: 60em !important;
}

.features section {
  padding: 3.5em 2em 1em 7em !important;
}

.spotlights > section > .content {
  padding: 4em 3em 2em 4em !important;
}
